.body {
    margin: 0;
    padding: 0;
    background-color: #46aec7;  /*Cor de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-box {
    background-color: #FFF; /* Cor da caixa */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px #00687f;
    border-color: #333;
    width: 400px;
    height: 300px;
}

.titulo-menu { /* Classe para o título */
    font-size: 30px;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lista-menu { /* Classe para a lista */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item { /* Classe para os itens da lista */
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.menu-link { /* Classe para os links */
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.menu-link:hover { /* Classe para a cor quando passa o mouse */
    color: #238ba3;
}

.h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li {
    margin-bottom: 10px;
}
